<footer>
  <div class="tg_footer">
    <div class="tg_footer_border_left"></div>
    <div class="tg_footer_border_right"></div>
    <div class="tg_container">
      <div class="tg_footer_wrap">
        <div class="tg_footer_wrap_top">
          <div class="tg_footer_wrap_top_left">
            <div class="tg_footer_wrap_top_left_logo">
              <img src="{{ active_theme_path() }}/images/Logo_gmo_footer.svg" alt="" />
            </div>
            <div class="tg_footer_wrap_top_left_menu">
              <ul{{ create_attribute().addClass(is_front ? 'tg_menu_scroll' : '') }}>
                <li rel="1"><a href="{{ path('<front>') }}#home-solution">ランシステムの強み</a></li>
                <li rel="2"><a href="{{ path('<front>') }}#home-skill">開発可能な言語</a></li>
                <li rel="3"><a href="{{ path('<front>') }}#home-work">開発実績</a></li>
                <li rel="4"><a href="{{ path('<front>') }}#home-quality">品質について</a></li>
              </ul>
            </div>
          </div>
          <!-- tg_footer_wrap_top_left -->
        </div>
        <!-- tg_footer_wrap_top -->
        <div class="tg_footer_wrap_bottom">
          <div class="tg_footer_wrap_bottom_left">
            <b>GMOランシステム株式会社</b>
            <p>東京都渋谷区桜丘町26-1 セルリアンタワー9F</p>
          </div>
          <div class="tg_footer_wrap_bottom_right">
            <p>@{{ now|date('Y') }} GMO RUNSYSTEM Inc.</p>
          </div>
        </div>
      </div>
      <!-- tg_footer_wrap -->
    </div>
  </div>
</footer>
