<div class="tg_content_intro_skill tg_target2" id="home-skill">
	<b class="tg_content_intro_super_title">Skill</b>
	<div class="tg_content_intro_skill_border_left"></div>
	<div class="tg_content_intro_skill_border_right"></div>
	<div class="tg_container">
		<div class="tg_content_intro_title">
			<strong>Skill</strong>
			<h2>
				<span>開発可能</span>な<span>言語</span>
			</h2>
			<p>
				<span>メジャーな言語からローコード開発、AI関連技術まで、幅広く対応が可能です。</span>
			</p>
		</div>
		<div class="tg_content_intro_skill_wrap">
			<div class="tg_content_intro_skill_wrap_bg">
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_php_09122024.svg" alt=""/></figure>
							<strong>PHP</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_java_09122024.svg" alt=""/></figure>
							<strong>Java</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_ruby_09122024.svg" alt=""/></figure>
							<strong>Ruby</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_python_09122024.svg" alt=""/></figure>
							<strong>Python</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_swift_09122024.svg" alt=""/></figure>
							<strong>Swift</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_kotlin_09122024.svg" alt=""/></figure>
							<strong>Kotlin</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_flutter_09122024.svg" alt=""/></figure>
							<strong>Flutter</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_react_09122024.svg" alt=""/></figure>
							<strong>React</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_net_09122024.svg" alt=""/></figure>
							<strong>.Net</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_vue_09122024.svg" alt=""/></figure>
							<strong>Vue.js</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/05122024-nuxt.png" alt=""/></figure>
							<strong>NuxtJS</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_nextjs_09122024.svg" alt=""/></figure>
							<strong>NEXT.JS</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_go_09122024.svg" alt=""/></figure>
							<strong>Go</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_googlec_09122024.svg" alt=""/></figure>
							<strong>Google Cloud</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_aws_09122024.svg" alt=""/></figure>
							<strong>AWS</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_azure_09122024.svg" alt=""/></figure>
							<strong>Azure</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_outsystem_09122024.svg" alt=""/></figure>
							<strong>OutSystems</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_genexus_09122024.svg" alt=""/></figure>
							<strong>GeneXus</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_row4_1_09122024.svg" alt=""/></figure>
							<strong>機械学習</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_row4_2_09122024.svg" alt=""/></figure>
							<strong>深層学習</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_row4_3_09122024.svg" alt=""/></figure>
							<strong>AI関連</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_row4_4_09122024.svg" alt=""/></figure>
							<strong>Web3</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside">
						<div class="tg_wrap_img_skill">
							<figure><img src="{{ active_theme_path() }}/images/skill_row4_5_09122024.svg" alt=""/></figure>
							<strong>ビッグデータ</strong>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_skill_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_skill_wrap_bg_detailds_inside tg_content_intro_skill_wrap_bg_detailds_inside_no_image">
						<strong>…etc.</strong>
					</div>
				</div>
			</div>
			<div class="swiper-control">
				<div class="pagination-swipe"></div>
			</div>
		</div>
		<!-- tg_content_intro_skill_wrap -->
	</div>
</div>
<!-- tg_content_intro_skill -->
