<div class="tg_content_intro_issue">
	<div class="tg_container">
		<b class="tg_content_intro_super_title">Issue</b>
		<div class="tg_content_intro_title">
			<strong>Issue</strong>
			<h2>
				システム開発の現場で
				<br/>
				こんな課題ありませんか？
			</h2>
		</div>
		<div class="tg_content_intro_issue_wrap">
			<div class="tg_content_intro_issue_wrap_bg">
				<div class="tg_content_intro_issue_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_issue_wrap_bg_detailds_inside">
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_number">
							<b>
								<span>Issue</span>
							</b>
							<strong>01</strong>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_figure">
							<figure><img src="{{ active_theme_path() }}/images/tg-icon-issue1-09122024.svg" alt=""/></figure>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget">
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_title">
								<h3>
									<strong>慢性的な</strong>
								</h3>
								<h3>
									<strong class="tg_has_bf">
										<span>開発リソース不足</span>
									</strong>
								</h3>
							</div>
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_ct">
								<p>
									従業員に大きな負担がかかり、<span>モチベーションの低下だけでなく担当者の離職</span>
									等により人材不足がさらに加速するという、悪循環に陥りがち。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_issue_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_issue_wrap_bg_detailds_inside">
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_number">
							<b>
								<span>Issue</span>
							</b>
							<strong>02</strong>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_figure">
							<figure><img src="{{ active_theme_path() }}/images/tg-icon-issue2-09122024.svg" alt=""/></figure>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget">
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_title">
								<h3>
									<strong>現在利用している</strong>
								</h3>
								<h3>
									<strong class="tg_has_bf">
										<span>開発会社が不安</span>
									</strong>
								</h3>
							</div>
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_ct">
								<p>
									現在利用中の開発会社に
									<span>「品質が低い」「コミュニケーションが不十分」などの不安</span>
									を抱えているが、スイッチングに踏み切れないでいる。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_issue_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_issue_wrap_bg_detailds_inside">
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_number">
							<b>
								<span>Issue</span>
							</b>
							<strong>03</strong>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_figure">
							<figure><img src="{{ active_theme_path() }}/images/tg-icon-issue3-09122024.svg" alt=""/></figure>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget">
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_title">
								<h3>
									<strong>他国開発会社から</strong>
								</h3>
								<h3>
									<strong class="tg_has_bf">
										<span>乗り換えたい</span>
									</strong>
								</h3>
							</div>
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_ct">
								<p>
									委託先が、<span>政治や経済状況・災害などカントリーリスク</span>
									を抱えており、中長期的にリスクの低い地域に開発拠点を移していきたい。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_issue_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_issue_wrap_bg_detailds_inside">
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_number">
							<b>
								<span>Issue</span>
							</b>
							<strong>04</strong>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_figure">
							<figure><img src="{{ active_theme_path() }}/images/tg-icon-issue4-09122024.svg" alt=""/></figure>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget">
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_title">
								<h3>
									<strong>社内に専門性を持った</strong>
								</h3>
								<h3>
									<strong class="tg_has_bf">
										<span>エンジニアがいない</span>
									</strong>
								</h3>
							</div>
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_ct">
								<p>
									社内にITチームやエンジニアがおらず、<span>DX推進やWebシステム開発を行いたいがどう進めていいかわからない。</span>
									外注先も見つかっていない。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_issue_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_issue_wrap_bg_detailds_inside">
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_number">
							<b>
								<span>Issue</span>
							</b>
							<strong>05</strong>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_figure">
							<figure><img src="{{ active_theme_path() }}/images/tg-icon-issue5-09122024.svg" alt=""/></figure>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget">
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_title">
								<h3>
									<strong>開発コストは</strong>
								</h3>
								<h3>
									<strong class="tg_has_bf">
										<span>なるべく抑えたい！</span>
									</strong>
								</h3>
							</div>
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_ct">
								<p>
									<span>国内の外注先やSESを利用しており毎月のコストがかさんでいる。</span>内製化も検討しているが、採用ハードルが高く、マネージメントも難しい。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tg_content_intro_issue_wrap_bg_detailds swiper-slide">
					<div class="tg_content_intro_issue_wrap_bg_detailds_inside">
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_number">
							<b>
								<span>Issue</span>
							</b>
							<strong>06</strong>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_figure">
							<figure><img src="{{ active_theme_path() }}/images/tg-icon-issue6-09122024.svg" alt=""/></figure>
						</div>
						<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget">
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_title">
								<h3>
									<strong>オフショア利用に関する</strong>
								</h3>
								<h3>
									<strong class="tg_has_bf">
										<span>漠然とした不安</span>
									</strong>
								</h3>
							</div>
							<div class="tg_content_intro_issue_wrap_bg_detailds_inside_textwidget_ct">
								<p>
									オフショア開発を検討しているが、<span>コミュニケーションや文化の違いなどの不安</span>
									がある。社内にもオフショア開発のメリットを説明しづらい。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-control">
				<div class="pagination-swipe"></div>
			</div>
		</div>
	</div>
</div>
<!-- tg_content_intro_issue -->