<div class="tg_content_intro_solution tg_target1" id="home-solution">
	<b class="tg_content_intro_super_title">Solution</b>
	<div class="tg_bg_square"></div>
	<div class="tg_container">
		<div class="tg_content_intro_title">
			<strong>Solution</strong>
			<h2>
				<cite>GMOランシステムの</cite>
				<br/>
				<span>オフショア開発</span>で<span class="highlight">解決<span class="dots"><span class="dot"></span><span class="dot"></span></span></span>で<br class="br_mb"/>きます！
				<em>なんとそれ、</em>
			</h2>
		</div>
		<div class="tg_content_intro_solution_wrap">
			<div class="tg_content_intro_solution_wrap_bg">
				<div class="tg_content_intro_solution_wrap_bg_detailds">
					<div class="tg_content_intro_solution_wrap_bg_detailds_figure">
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_title">
							<figure><img src="{{ active_theme_path() }}/images/05122024-solution-num1.png" alt=""/></figure>
						</div>
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_image">
							<figure>
								<a href="javascript:void(0);"><img src="{{ active_theme_path() }}/images/05122024-solution-img1.png" alt=""/></a>
							</figure>
						</div>
					</div>
					<div class="tg_content_intro_solution_wrap_bg_detailds_textwidget">
						<h3>
							<a href="javascript:void(0);">エンジニア{{ develop_number }}名以上在籍</a>
						</h3>
						<p>
							GMOランシステムでは、日本とベトナムの全5拠点で{{ develop_number }}名超のエンジニアリソースを確保しています。<span>大規模プロジェクトから小規模なラボ構築まで、柔軟に対応</span>が可能です。
						</p>
					</div>
				</div>
				<div class="tg_content_intro_solution_wrap_bg_detailds">
					<div class="tg_content_intro_solution_wrap_bg_detailds_figure">
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_title">
							<figure><img src="{{ active_theme_path() }}/images/05122024-solution-num2.png" alt=""/></figure>
						</div>
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_image">
							<figure>
								<a href="javascript:void(0);"><img src="{{ active_theme_path() }}/images/05122024-solution-img2.png" alt=""/></a>
							</figure>
						</div>
					</div>
					<div class="tg_content_intro_solution_wrap_bg_detailds_textwidget">
						<h3>
							<a href="javascript:void(0);">日本語コミュニケーション◎</a>
						</h3>
						<p>
							ビジネス日本語を話せるベトナム人ブリッジSE・PMが50名以上所属。日本語でPJTを進行いたします。日本法人所属の日本人SE・PMも、PJTをサポートし、<span>コミュニケーションの問題を未然に防止ます。</span>
						</p>
					</div>
				</div>
				<div class="tg_content_intro_solution_wrap_bg_detailds">
					<div class="tg_content_intro_solution_wrap_bg_detailds_figure">
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_title">
							<figure><img src="{{ active_theme_path() }}/images/05122024-solution-num3.png" alt=""/></figure>
						</div>
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_image">
							<figure>
								<a href="javascript:void(0);"><img src="{{ active_theme_path() }}/images/05122024-solution-img3.png" alt=""/></a>
							</figure>
						</div>
					</div>
					<div class="tg_content_intro_solution_wrap_bg_detailds_textwidget">
						<h3>
							<a href="javascript:void(0);">エンジニア{{ develop_number }}名以上在籍</a>
						</h3>
						<p>
							GMOランシステムでは、日本とベトナムの全5拠点で{{ develop_number }}名超のエンジニアリソースを確保しています。<span>大規模プロジェクトから小規模なラボ構築まで、柔軟に対応</span>が可能です。
						</p>
					</div>
				</div>
				<div class="tg_content_intro_solution_wrap_bg_detailds">
					<div class="tg_content_intro_solution_wrap_bg_detailds_figure">
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_title">
							<figure><img src="{{ active_theme_path() }}/images/05122024-solution-num4.png" alt=""/></figure>
						</div>
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_image">
							<figure>
								<a href="javascript:void(0);"><img src="{{ active_theme_path() }}/images/05122024-solution-img4.svg" alt=""/></a>
							</figure>
						</div>
					</div>
					<div class="tg_content_intro_solution_wrap_bg_detailds_textwidget">
						<h3>
							<a href="javascript:void(0);">幅広い言語・技術に対応</a>
						</h3>
						<p>
							<span>ベトナム国内大手の大学から優秀な人材をリクルーティングし、</span>
							幅広い開発言語・技術に対応しております。日本では調達しづらい、もしくは高単価な開発言語のエンジニアリソースも、ベトナムで調達が可能です。
						</p>
					</div>
				</div>
				<div class="tg_content_intro_solution_wrap_bg_detailds">
					<div class="tg_content_intro_solution_wrap_bg_detailds_figure">
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_title">
							<figure><img src="{{ active_theme_path() }}/images/05122024-solution-num5.png" alt=""/></figure>
						</div>
						<div class="tg_content_intro_solution_wrap_bg_detailds_figure_image">
							<figure>
								<a href="javascript:void(0);"><img src="{{ active_theme_path() }}/images/05122024-solution-img5.png" alt=""/></a>
							</figure>
						</div>
					</div>
					<div class="tg_content_intro_solution_wrap_bg_detailds_textwidget">
						<h3>
							<a href="javascript:void(0);">{{ experience_year }}年以上の開発実績あり</a>
						</h3>
						<p>
							設立から{{ experience_year }}年間、<span>日本市場に特化し2,500件以上のシステム・アプリ開発の実績</span>
							がございます。GMOインターネットグループ(東証プライム上場9449)のメンバーとして、お客様に安定したデリバリーをお届けいたします。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- tg_content_intro_solution -->
