<div class="tg_content_wrap_method_team_work" id="home-work">
	<div class="tg_bg_square"></div>
	<div class="tg_content_works tg_target3">
		<div class="tg_container">
			<div class="tg_content_intro_title">
				<strong>Works</strong>
				<h2>開発実績</h2>
				<b class="tg_content_intro_super_title">Works</b>
			</div>
			<div class="swiper-control">
				<div class="sl_prev tg_btn_nav">
					<svg width="16" height="27" viewbox="0 0 16 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.7249 0.951933C14.9107 1.13766 15.0581 1.35818 15.1587 1.60088C15.2592 1.84358 15.311 2.10372 15.311 2.36643C15.311 2.62915 15.2592 2.88928 15.1587 3.13199C15.0581 3.37469 14.9107 3.59521 14.7249 3.78093L4.8249 13.6809L14.7249 23.5809C15.1004 23.956 15.3116 24.4648 15.312 24.9955C15.3124 25.5262 15.1019 26.0354 14.7269 26.4109C14.3519 26.7865 13.843 26.9977 13.3123 26.998C12.7816 26.9984 12.2724 26.788 11.8969 26.4129L0.582899 15.0989C0.207896 14.7229 -0.00269127 14.2135 -0.00269127 13.6824C-0.00269127 13.1514 0.207896 12.642 0.582899 12.2659L11.8969 0.951933C12.0826 0.76613 12.3031 0.618738 12.5458 0.518179C12.7885 0.41762 13.0487 0.36586 13.3114 0.36586C13.5741 0.36586 13.8342 0.41762 14.077 0.518179C14.3197 0.618738 14.5392 0.76613 14.7249 0.951933Z" fill="#005BAC"/>
					</svg>
				</div>
				<div class="sl_next tg_btn_nav">
					<svg width="16" height="27" viewbox="0 0 16 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.27319 26.4121C0.898251 26.0371 0.687256 25.5284 0.687256 24.998C0.687256 24.4677 0.898251 23.959 1.27319 23.584L11.1726 13.6836L1.27319 3.7832C0.897912 3.40805 0.686373 2.89977 0.686279 2.36914C0.686186 1.83851 0.897068 1.33036 1.27222 0.955078C1.64737 0.579797 2.15662 0.367281 2.68726 0.367188C3.21789 0.367094 3.72701 0.577976 4.10229 0.953125L15.4158 12.2695C15.7907 12.6446 16.0017 13.1533 16.0017 13.6836C16.0017 14.2139 15.7907 14.7226 15.4158 15.0977L4.10229 26.4121C3.91657 26.5979 3.69558 26.7451 3.45288 26.8457C3.21018 26.9463 2.94997 26.998 2.68726 26.998C2.42454 26.998 2.16433 26.9463 1.92163 26.8457C1.67893 26.7451 1.45892 26.5979 1.27319 26.4121Z" fill="#005BAC"/>
					</svg>
				</div>
			</div>
		</div>
		<div class="tg_content_works_wrap">
			<div class="tg_content_works_wrap_slide swiper-wrapper">
				<div class="tg_content_works_wrap_slide_item swiper-slide">
					<div class="tg_content_works_wrap_slide_item_wrap">
						<figure>
							<a href="#"><img src="{{ active_theme_path() }}/images/work_slide_img1.png" alt=""/></a>
						</figure>
						<div class="tg_content_works_wrap_slide_item_wrap_info">
							<b>
								<a href="#">不動産賃貸DXアプリ</a>
							</b>
							<div class="tg_textwidget">
								<p>
									業界初の、オーナー・入居者・業者・管理会社が1つのプラットフォームでつながるモバイルアプリ。Flutterによるクロスプラットフォーム開発で、開発工数を短縮しました。
								</p>
							</div>
							<div class="tg_tags_works">
								<ul>
									<li><a href="#">モバイルアプリ</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Ruby</a></li>
									<li><a href="#">Vue.js</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- tg_content_works_wrap_slide_item -->
				<div class="tg_content_works_wrap_slide_item swiper-slide">
					<div class="tg_content_works_wrap_slide_item_wrap">
						<figure>
							<a href="#"><img src="{{ active_theme_path() }}/images/work_slide_img2.png" alt=""/></a>
						</figure>
						<div class="tg_content_works_wrap_slide_item_wrap_info">
							<b>
								<a href="#">不動産賃貸DXアプリ</a>
							</b>
							<div class="tg_textwidget">
								<p>
									業界初の、オーナー・入居者・業者・管理会社が1つのプラットフォームでつながるモバイルアプリ。Flutterによるクロスプラットフォーム開発で、開発工数を短縮しました。
								</p>
							</div>
							<div class="tg_tags_works">
								<ul>
									<li><a href="#">モバイルアプリ</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Ruby</a></li>
									<li><a href="#">Vue.js</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- tg_content_works_wrap_slide_item -->
				<div class="tg_content_works_wrap_slide_item swiper-slide">
					<div class="tg_content_works_wrap_slide_item_wrap">
						<figure>
							<a href="#"><img src="{{ active_theme_path() }}/images/work_slide_img1.png" alt=""/></a>
						</figure>
						<div class="tg_content_works_wrap_slide_item_wrap_info">
							<b>
								<a href="#">不動産賃貸DXアプリ</a>
							</b>
							<div class="tg_textwidget">
								<p>
									業界初の、オーナー・入居者・業者・管理会社が1つのプラットフォームでつながるモバイルアプリ。Flutterによるクロスプラットフォーム開発で、開発工数を短縮しました。
								</p>
							</div>
							<div class="tg_tags_works">
								<ul>
									<li><a href="#">モバイルアプリ</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Ruby</a></li>
									<li><a href="#">Vue.js</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- tg_content_works_wrap_slide_item -->
				<div class="tg_content_works_wrap_slide_item swiper-slide">
					<div class="tg_content_works_wrap_slide_item_wrap">
						<figure>
							<a href="#"><img src="{{ active_theme_path() }}/images/work_slide_img2.png" alt=""/></a>
						</figure>
						<div class="tg_content_works_wrap_slide_item_wrap_info">
							<b>
								<a href="#">不動産賃貸DXアプリ</a>
							</b>
							<div class="tg_textwidget">
								<p>
									業界初の、オーナー・入居者・業者・管理会社が1つのプラットフォームでつながるモバイルアプリ。Flutterによるクロスプラットフォーム開発で、開発工数を短縮しました。
								</p>
							</div>
							<div class="tg_tags_works">
								<ul>
									<li><a href="#">モバイルアプリ</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Ruby</a></li>
									<li><a href="#">Vue.js</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- tg_content_works_wrap_slide_item -->
				<div class="tg_content_works_wrap_slide_item swiper-slide">
					<div class="tg_content_works_wrap_slide_item_wrap">
						<figure>
							<a href="#"><img src="{{ active_theme_path() }}/images/work_slide_img1.png" alt=""/></a>
						</figure>
						<div class="tg_content_works_wrap_slide_item_wrap_info">
							<b>
								<a href="#">不動産賃貸DXアプリ</a>
							</b>
							<div class="tg_textwidget">
								<p>
									業界初の、オーナー・入居者・業者・管理会社が1つのプラットフォームでつながるモバイルアプリ。Flutterによるクロスプラットフォーム開発で、開発工数を短縮しました。
								</p>
							</div>
							<div class="tg_tags_works">
								<ul>
									<li><a href="#">モバイルアプリ</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Ruby</a></li>
									<li><a href="#">Vue.js</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- tg_content_works_wrap_slide_item -->
			</div>
			<!-- tg_content_works_wrap_slide -->
		</div>
	</div>
	<!-- tg_content_works -->
</div>

