<div class="tg_content_intro_home">
  <div class="tg_container">
    <div class="tg_content_intro_home_wrap">
      <div class="tg_content_intro_home_wrap_left">
        <div class="tg_content_intro_home_wrap_left_textwidget">
          <div class="tg_content_intro_home_wrap_left_textwidget_title_intro">
            <div class="tg_content_intro_home_wrap_left_textwidget_title_intro_wrap">
              <h4>
                東証プライム上場の <br class="br_mb"/>
                GMOインターネットグループ企業によるオフショア開発
              </h4>
            </div>
          </div>
          <h1>
            確かな技術力と <br class="br_mb"/>豊富な実績で <br/>
            ソフトウェア開発を<br class="br_mb"/>加速させます。
          </h1>
          <div class="tg_content_intro_home_wrap_left_textwidget_cta">
            <div class="tg_cta_button tg_cta_mail">
              <a href="{{ base_path }}{{ '/contact-us' }}" class="tg_hv_cta_mail">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none">
                  <path
                    d="M24.001 2.40098C23.9991 1.76502 23.7457 1.15565 23.296 0.70596C22.8463 0.256273 22.2369 0.00282335 21.601 0.000976562H2.40098C1.76503 0.00282335 1.15565 0.256273 0.70596 0.70596C0.256273 1.15565 0.00282335 1.76502 0.000976562 2.40098V16.801C0.00282335 17.4369 0.256273 18.0463 0.70596 18.496C1.15565 18.9457 1.76503 19.1991 2.40098 19.201H21.601C22.2369 19.1991 22.8463 18.9457 23.296 18.496C23.7457 18.0463 23.9991 17.4369 24.001 16.801V2.40098ZM21.601 2.40098L12.001 8.40098L2.40098 2.40098H21.601ZM21.601 16.801H2.40098V4.80098L12.001 10.801L21.601 4.80098V16.801Z"
                    fill="white"
                  />
                </svg>
                お問い合わせ
              </a>
            </div>
            <div class="tg_cta_button tg_cta_download">
              <a href="{{ base_path }}{{ '/download' }}" class="tg_hv_cta_download">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21" fill="none">
                  <path
                    d="M11.4179 13.0699C11.4819 13.1654 11.5684 13.2436 11.6698 13.2978C11.7713 13.3519 11.8844 13.3802 11.9994 13.3802C12.1143 13.3802 12.2275 13.3519 12.3289 13.2978C12.4304 13.2436 12.5169 13.1654 12.5809 13.0699L16.7809 7.53389C16.8625 7.46786 16.9192 7.37602 16.9416 7.27349C16.964 7.17096 16.9509 7.06385 16.9043 6.96978C16.8577 6.87572 16.7805 6.80032 16.6854 6.75599C16.5903 6.71166 16.4829 6.70104 16.3809 6.72588H14.7729C14.5636 6.72588 14.3628 6.64279 14.2146 6.49485C14.0665 6.34692 13.9832 6.14623 13.9829 5.93689V1.37088C13.9826 1.12193 13.8836 0.883242 13.7076 0.707203C13.5315 0.531164 13.2929 0.432149 13.0439 0.431885H10.9559C10.7069 0.432149 10.4683 0.531164 10.2922 0.707203C10.1162 0.883242 10.0172 1.12193 10.0169 1.37088V5.93689C10.0166 6.14623 9.93328 6.34692 9.78515 6.49485C9.63703 6.64279 9.43624 6.72588 9.2269 6.72588H7.61889C7.5172 6.70212 7.41046 6.71344 7.31601 6.75799C7.22155 6.80255 7.14493 6.87773 7.0986 6.97132C7.05227 7.06492 7.03894 7.17143 7.06077 7.27356C7.08261 7.37568 7.13834 7.46743 7.2189 7.53389L11.4179 13.0699Z"
                    fill="white"
                  />
                  <path
                    d="M20.87 12.3569V17.5739H3.13V12.3569H0V19.5119C0.000264816 19.8283 0.126041 20.1316 0.349714 20.3552C0.573388 20.5789 0.876678 20.7047 1.193 20.7049H22.807C23.1233 20.7047 23.4266 20.5789 23.6503 20.3552C23.874 20.1316 23.9997 19.8283 24 19.5119V12.3569H20.87Z"
                    fill="white"
                  />
                </svg>
                資料ダウンロード
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tg_content_intro_home_wrap_right">
        <div class="wrap_figure">
          <img src="{{ active_theme_path() }}/images/contact-danang-branch.jpg" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
